input[type="radio"] {
	/*同样，首先去除浏览器默认样式*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*编辑我们自己的样式*/
    position: relative;
    background: #fff;
    border:1px solid #b4b4b4;
    width:20px;
    height:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    /*增加动画*/
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}
input[type="radio"]:after {
	content: '';
    position: absolute;
    left:-1px;
    top:-1px;
    display: block;
    width:20px;
    height:20px;
    background: #fff;
    color: #fff;
    text-align: center;
    line-height:20px;
    /*增加动画*/
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    -webkit-border-radius: 20px;
    -moz-border-radius:20px;
    border-radius:20px;
    border:1px solid #b4b4b4;
    box-sizing: border-box;
}
input[type="radio"]:checked {
	background: #4cd762;
    box-sizing: border-box;
}
input[type="radio"]:checked:after {
	content: '';
    left:-1px;
    background: #4cd762;
    box-sizing: border-box;
}

/* 禁用样式 */
input[type="radio"]:disabled:after {
    background:#999;
    cursor: no-drop;
}
input[type="radio"]:disabled:checked , input[type="radio"]:disabled:checked:after {
    background:#666;
}





